@using PortfolyoApp.Admin.Mvc.Models
@model List<ProjectViewModel>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center">Projects</h2>
            <a id="addbutton" class="btn btn-info" asp-action="AddProject" asp-controller="Project">Add</a>
            <table class="table  table-hover">
                <thead>
                    <tr>
                        <th>
                            ID
                        </th>
                        <th>
                            Title
                        </th>
                        <th>
                            Description
                        </th>
                        <th>
                            ImageUrl
                        </th>
                        <th>
                            Url
                        </th>
                        <th>
                            GithubUrl
                        </th>
                        <th>
                            Tags
                        </th>
                        <th>
                            CreatedAt
                        </th>
                        <th>
                            Actions
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @item.Id
                            </td>
                            <td>
                                @item.Title
                            </td>
                            <td>
                                @(item.Description.Length > 50 ? item.Description.Substring(0, 50) + "..." : item.Description)
                            </td>

                            <td>
                                @(item.ImageUrl.Length > 41 ? item.ImageUrl.Substring(41)  : item.ImageUrl)
                            </td>

                            <td>
                                @item.Url
                            </td>

                            <td>
                                @item.GithubUrl
                            </td>

                            <td>
                                @item.Tags
                            </td>
                            <td>
                                @item.CreatedAt.ToString("dd-MM-yyyy HH:mm:ss")
                            </td>
                            <td>
                                <a class="btn btn-primary" asp-controller="Project" asp-action="EditProject" asp-route-id="@item.Id">Edit</a>
                                <a class="btn btn-danger" asp-controller="Project" asp-action="DeleteProject" asp-route-id="@item.Id">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<style>
    #addbutton {
        position: relative;
        bottom: 10px;
        left: 990px;
    }
</style>